node_modules
.DS_Store
coverage
coverage-html
*.lcov
.turbo
.qlty
packages/sdk/js/tsconfig.tsbuildinfo
test-results/.last-run.json
coverage-html/
coverage/
*.gcov.html
index-sort-f.html
index-sort-l.html
